<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/lang.css">
    <link rel="stylesheet" href="css/advice.css">
</head>
<body>
    <%- include('navbar') %>

    <div class="container">
        <% if (lang === 'en') { %>
            <h1>Get Random Motivational Advice</h1>
            <form action="/advice" method="post">
                <button type="submit">Get Advice</button>
            </form>
        <% } else if (lang === 'ru') { %>
            <h1>Получить Случайный Мотивационный Совет</h1>
            <form action="/advice" method="post">
                <button type="submit">Получить Совет</button>
            </form>
        <% } %>
    </div>

    <%- include('footer') %>
    <script>
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>