<nav>
    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/weather">Weather API</a></li>
        <li><a href="/advice">Advice API</a></li>
        <li><a href="/quotes">Quotes API</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Profile</a>
            <div class="dropdown-content">
                <% if (typeof isAdminUser !== 'undefined' && isAdminUser) { %>
                    <a href="/admin">Admin Page</a>
                <% } %>
                <a href="/profile">My Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </li>
    </ul>
</nav>
