<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/lang.css">
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <%- include('navbar') %>

    <div class="container">
        <% if (lang === 'en') { %>
            <div class="profile">
                <h1><%= username %> Profile</h1>
                <div class="api-history">
                    <h2>API History</h2>
                </div>
                <div class="buttons">
                    <form action="/weather/history" method="get">
                        <button type="submit" name="requestType" value="weather">View Weather History</button>
                    </form>
                    
                    <form action="/advice/history" method="get">
                        <button type="submit" name="requestType" value="advice">View Advice History</button>
                    </form>
                    
                    <form action="/quotes/history" method="get">
                        <button type="submit" name="requestType" value="quotes">View Quotes History</button>
                    </form>
                </div>
            </div>
        <% } else if (lang === 'ru') { %>
            <div class="profile">
                <h1><%= username %> Профиль</h1>
                <div class="api-history">
                    <h2>История Запросов API</h2>
                </div>
                <div class="buttons">
                    <form action="/weather/history" method="get">
                        <button type="submit" name="requestType" value="weather">Смотреть Историю Погоды</button>
                    </form>
                    
                    <form action="/advice/history" method="get">
                        <button type="submit" name="requestType" value="advice">Смотреть Историю Советов</button>
                    </form>
                    
                    <form action="/quotes/history" method="get">
                        <button type="submit" name="requestType" value="quotes">Смотреть Историю Цитат</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    <%- include('footer') %>
    <script>
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>
