<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/lang.css">
    <link rel="stylesheet" href="css/quotes.css">
</head>
<body>
    <%- include('navbar') %>

    <div class="quotes-container">
        <% if (lang === 'en') { %>
            <h1>Motivational Quotes</h1>
        
            <form action="/quotes" method="post">
                <button type="submit" name="quoteType" value="dayQuote">Get Quote of the Day</button>
                <button type="submit" name="quoteType" value="randQuote">Get Random Quote</button>
            </form>
        <% } else if (lang === 'ru') { %>
            <h1>Мотивационные Цитаты</h1>
        
            <form action="/quotes" method="post">
                <button type="submit" name="quoteType" value="dayQuote">Получить Цитату Дня</button>
                <button type="submit" name="quoteType" value="randQuote">Получить Случайную Цитату</button>
            </form>
        <% } %>
    </div>


    <%- include('footer') %>
    <script>
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>